/*Reset
------------------------------------------------------ */
@charset "utf-8";
/* @font-face {
  font-family: Open_sans;
  src: url('');
} */
:root {
  --font-main: "Inter", sans-serif;
  --colo-primary: #db4444;
  --colo-dark-1: #000000;
  --colo-dark-2: #7d8184;
  --colo-white-1: #ffffff;
  --colo-white-2: #f5f5f5;
  --color-green: #00d656;
  --transation-1: all .5s ease;
  --transation-2: all .3s ease;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 62.5%;
  font-family: var(--font-main);
  background-color: var(--colo-white-1);
}

ul {
  list-style: none;
}

p {
  line-height: 2.5rem;
}

a, p {
  font-size: 1rem;
}

a {
  color: inherit;
  transition: var(--transation-1);
  text-decoration: none;
}

a:hover {
  color: var(--colo-dark-2);
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 8%;
}

.list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.list a {
  position: relative;
  padding: 6px;
}

.list a::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 0%;
  height: 2px;
  border-radius: 20px;
  transition: var(--transation-1);
  background-color: var(--colo-dark-2);
}

.list a:hover:before {
  width: 100%;
}

/*Header
------------------------------------------------------ */
.header {
  height: 53px;
  z-index: 100;
  padding-block: 10px;
  border-bottom: 1px solid var(--colo-dark-2);
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1 {
  position: relative;
  font-size: 1.5rem;
  color: var(--colo-dark-1);
}

.logo h1::before {
  content: ' ';
  position: absolute;
  bottom: 5px;
  right: -7px;

  width: 6px;
  height: 6px;
  border-radius: 50%;
  overflow: hidden;
  background-color: var(--colo-primary);
}

.navbar {
  z-index: 100;
}

#navbar ul {
  display: flex;
  gap: 12px;
  align-items: center;
}

.navbar > ul > li > a {
  position: relative;
  padding: 8px;
}

.navbar > ul > li > a::before {
  content: '';
  position: absolute;
  bottom: 0;

  width: 0%;
  height: 2px;
  border-radius: 20px;
  transition: var(--transation-1);
  background-color: var(--colo-dark-2);
}

.navbar > ul > li > a:hover:before {
  width: 100%;
}

.search,
.list-icon {
  display: flex;
  gap: 15px;
  align-items: center;
}

.search > form {
  width: 210px;
  display: flex;
  border-radius: 4px;
  overflow: none;
  background-color: var(--colo-white-2);
}

.search > form > input {
  width: 80%;
  height: 25px;
  border: none;
  outline: none;
  padding: 16px 10px; 
  background: transparent;
}

.search > form > button {
  width: 20%;
  border: none;
  cursor: pointer;
  background: transparent;
}

.search > form > button > i {
  color: var(--colo-dark-2);
  font-size: 1rem;
} 

.search > .list-icon > a {
  width: 20px;
  position: relative;
}

.search > .list-icon > .cart-icon {
  width: 25px;
}

.search > .list-icon > a > span {
  position: absolute;
  top: -12px;
  right: -14px;
  padding: 4px;
  font-weight: bold;
  color: var(--colo-white-1);
  font-size: .5rem;
  border-radius: 50%;
  overflow: none;
  background-color: var(--colo-primary);
}

.search > .list-icon > .cart-icon > span {
  top: -8px;
  right: -12px;
}

#toggle {
  display: none;
}

@media screen and (max-width: 1000px) {
  .container {
    padding-inline: 4%;
  }
}

@media screen and (max-width: 830px) {
  .navbar {
    position: fixed;
    top: -2px;
    left: 0;

    display: block;
    width: 100%;
    height: 0px;
    margin-top: 53px;
    overflow: hidden;
    transition: var(--transation-1);
    background-color: #ccc;
  }
  .row {
    display: block;
    width: 90%;
    height: 2px;
    margin: 4px auto; 
    border-radius: 20px;
    background-color: var(--colo-dark-2);
  }
  #toggle {
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 1px solid var(--colo-dark-2);
    border-radius: 4px;
    background: transparent;
  }
  .header-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--colo-white-1);
  }
  .openbar {
    top: 0;
    height: 100%;
  }

  #navbar ul {
    display: none;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 0px;
    background-color: var(--colo-dark-2);
  }

  #navbar.openbar ul li {
    width: 100%;
  }

  #navbar.openbar ul {
    display: block;
  }

  #navbar.openbar ul li a {
    display: block;
    width: 100%;
    text-align: center;
    color: var(--colo-dark-1);
  }

  #navbar.openbar ul li a:hover {
    color: var(--colo-white-1);
    background-color: var(--colo-dark-1);
  }
}

@media screen and (max-width: 560px) {
  .search > form {
    display: none;
  }
}

/*News
------------------------------------------------------ */
.news-content {
  display: flex;
  gap: 10px;
}

.news-categoris {
  width: 20%;
  padding-top: 30px;
  padding-right: 40px;
  border-right: 1px solid var(--colo-dark-2);
}

.swiper-slide {
  height: 344px;
}

.news-categoris .list {
  gap: 14px;
  flex-direction: column;
}

.mySwiper .swiper-pagination-bullet {
  background: var(--colo-white-1);
}

#btn-next {
  display: none;
}

.news-banner {
  width: 80%;
  padding-top: 20px;
  padding-left: 20px;
}

@media screen and (max-width: 850px) {
  .news-categoris {
    display: none;
  }
  .news-content {
    padding: 0;
  }
  .news-banner {
    padding: 0;
    width: 100%;
  }
}

/*About-it
------------------------------------------------------ */
.about-it {
  margin-block: 40px 20px;
}

.title-h3 {
  position: relative;
  font-size: 1rem;
  padding-left: 30px;
  margin-bottom: 20px;
  color: var(--colo-primary);
}

.title-h3::before {
  content: ' ';
  position: absolute;
  left: 0;
  bottom: -9px;

  width: 15px;
  height: 40px;
  border-radius: 4px;
  background-color: var(--colo-primary);
}

.title-h2 {
  color: var(--colo-dark-1);
  font-size: 2rem;
}

@media screen and (max-width: 700px) {
  .title-h2 {
    font-size: 1.5rem;
  }
}

/*Products
------------------------------------------------------ */
.products-content {
  margin-bottom: 40px;
}

.product {
  width: 250px;
  overflow: hidden;
  border-radius: 8px;
  transition: var(--transation-1);
}

.product:hover {
  transform: scale(1.01);
}

.product-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  border-radius: 4px;
}

.product .btn-add {
  display: none;
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  padding: 10px;
  text-align: center;
  color: var(--colo-white-1);
  transition: var(--transation-1);
  background-color: var(--colo-dark-1);
}

.product .btn-add > i {
  transition: var(--transation-1);
}

.product:hover .btn-add {
  display: block;
}

.product .btn-add:hover > i {
  margin-right: 8px;
}

.btn-add-mobile {
  display: none;
}

.product-about {
  padding-block: 10px;
  text-align: center;
}

.product-name {
  color: var(--colo-dark-1);
  font-size: 1rem;
  padding-block: 0 10px;
}

.prices {
  font-weight: bold;
  padding-bottom: 10px;
}

.price {
  font-size: .9rem;
  color: var(--colo-primary);
}

.price-prev {
  color: var(--colo-dark-2);
  font-size: .7rem;
  margin-left: 10px;
  text-decoration: line-through;
}

.product hr {
  width: 80%;
  color: var(--colo-dark-2);
  background-color: var(--colo-dark-2);
  margin: 0 auto;
}

.product-links {
  color: var(--colo-dark-2);
  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.product-links > a {
  position: relative;
  padding: 10px;
}

.product-links > a:hover {
  color: var(--colo-primary);
}

.product-links a:hover::before {
  content: ' ';
  position: absolute;
  top: -28px;
  left: -17px;
  font-size: .9rem;
  z-index: 1;

  padding: 6px;
  border-radius: 8px;
  transition: var(--transation-2);
  color: var(--colo-white-1);
  background-color: var(--colo-dark-2);
}

.product-links a:hover::after {
  content: ' ';
  position: absolute;
  top: -15px;
  left: 6px;

  width: 20px;
  height: 20px;
  transform: rotate(40deg);
  transition: var(--transation-2);
  background-color: var(--colo-dark-2);
}

.product-links a:nth-child(1):hover::before {
  content: 'Favoritar';
}

.product-links a:nth-child(2):hover::before {
  content: 'Detalhes';
}

.product-links a.btn-add-mobile:hover::before {
  width: 150px;
  left: -50px;
  content: 'Add ao carrinho';
}

.slider-product {
  position: relative;
  padding-block: 20px 40px;
}

.btns {
  position: absolute;
  bottom: 0px;
  right: 0;

  display: flex;
  gap: 10px;
}

.btn-next1,
.btn-prev1 {
  width: 30px;
  height: 30px;
  border: none;
  transition: var(--transation-1);
  border-radius: 50%;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
  color: var(--colo-dark-1);
  background-color: #ccc;
}


.btn-next1:hover,
.btn-prev1:hover {
  color: var(--colo-white-1);
  background-color: var(--colo-dark-1);
}

.semore {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.btn-primary {
  color: var(--colo-white-1);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid var(--colo-primary);
  transition: var(--transation-1);
  background-color: var(--colo-primary);
}

.btn-primary:hover {
  color: var(--colo-primary);
  background-color: transparent;
  transform: scale(1.01);
}

.btn-secundary {
  color: var(--colo-dark-1);
  font-size: 1rem;
  text-align: center;
  border-radius: 4px;
  padding: 10px 20px;
  border: 2px solid var(--color-green);
  transition: var(--transation-1);
  background-color: var(--color-green);
}

.btn-secundary:hover {
  color: var(--color-green);
  background-color: transparent;
  transform: scale(1.01);
}

@media screen and (max-width: 800px) {
  .product:hover .btn-add {
    display: none;
  }
  .btn-add-mobile {
    display: block;
  }
}

/*Categories
------------------------------------------------------ */
.categories-content  {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.category {
  width: 150px;
  height: 150px;
  font-size: .9rem;
  overflow: hidden;
  border-radius: 4px;
  transition: var(--transation-1);
  border: 1px solid var(--colo-dark-2);
  box-shadow: 0 0 10px #cccccc86;

  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.category > img {
  width: 40%;
  height: 40%;
}

.category:hover {
  background-color: var(--colo-primary);
}

.category:hover > span {
  color: var(--colo-white-1);
}

/*Banner
------------------------------------------------------ */
.banner-content {
  margin-bottom: 30px;
}

.banner-c {
  padding: 30px;
  color: var(--colo-white-1);
  background-color: var(--colo-dark-1);

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
}

.banner-about h2 {
  font-size: 2rem;
}

.banner-about h2:last-of-type {
  padding-bottom: 40px;
}

@media screen and (max-width: 1000px) {
  .banner-content {
    padding: 0px;
  }
}

@media screen and (max-width: 720px) {
  .banner-c  {
    justify-content: center;
    flex-direction: column;
  }
}

/*Destaque
------------------------------------------------------ */
.destaque-conten {
  display: grid;
  gap: 20px;
  align-items: center;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr);
}

@media screen and (max-width: 1050px)  {
  .destaque-conten {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width:830px)  {
  .destaque-conten {
    gap: 10px;
  }
}

@media screen and (max-width:805px)  {
  .destaque-conten {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width:540px)  {
  .destaque-conten {
    grid-template-columns: 250px;
  }
}